<a href="https://colab.research.google.com/github/python-noobtopro/data_science_made_fun/blob/main/Disney_allmovie_data_final_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***********************************************************************

## TASK IS TO COLLECT MOVIE INFO OF ALL DISNEY MOVIES (nearly 500 movies) FROM SCRAPING DATA FROM WIKIPEDIA AND SAVING IT LOCALLY AS A JSON FILE, CSV FILE, PICKLE FILE
### Further we are interested in Data Cleaning so that we can easily analyse the data in future projects:

1.   Converting date string to datetime object
2.   Removing unwanted elements like subs [2], [3], etc
3.   Converting all analyzable data like budget, box office collection into numerical values like float, int 


### Finally we are intersted to save our data in three formats:


1.   JSON
2.   pickle
3.   csv (using pandas dataframe)





*************************************************************************

**********************************************************************

Libraries/modules used:


*   BeautifulSoup  (Web scraping)
*   requests       (Request/Response cycle)
*   urllib         (Authorization for APIs)
*   datetime       (Converting date strings to datetime object)
*   pickle         (saving the data)
*   pandas         (saving data as csv)
*   json           (saving data) 


Concepts used:


*   Http/Https protocols
*   Request/Response cycle
*   RESTful APIs and Authorization
*   Web Scraping (more of HTML parsing)
*   Handling JSON objects
*   Data Cleaning
*   Saving data as panda dataframe


******************************************************************

### Starting with we crawling to all the links found on the master web page 'https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films' and then parsing the webpage to the required HTML/CSS tags and getting the JSON object

## Importing prerequisites

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

## Opening the master wiki webpage for digging into it

In [ ]:
base_url = "https://en.wikipedia.org"
master_url = "https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films"

link = requests.get(master_url)
soup = bs(link.content, 'html.parser')       # making soup object using BeautifulSoup

## Start the tree search

In [ ]:
# Digging to the href link of each movie title

movies_link = soup.select(".wikitable.sortable i a")

## Extracting info out of new webpage

In [ ]:
# Defining get_info function to get the info for each movie from the loaded movie webpage
# this function will remove references



def clear_tags(soup):
    for tags in soup.find_all(["sup", "span"]):
        tags.decompose()
        
        
def get_content_value(row_data):
    if row_data.find("li"):
        return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in row_data.find_all("li")]
    elif row_data.find("br"):
        return [text for text in row_data.stripped_strings]    
         # This automatically strips the content and makes a list of strings seperated with comma when jumps from one tag to other
    else:
        return row_data.get_text(" ", strip=True).replace("\xa0", " ")

def get_info(new_url):
    movie_info = {}
    
    link = requests.get(new_url)
    soup = bs(link.content, 'html.parser')
    search = soup.find(class_="infobox vevent")
    clear_tags(soup)
    tr_tag = search.find_all("tr")
    for index, tags in enumerate(tr_tag):
        if index == 0:
            movie_info['Title'] = tags.find("th").get_text()
        elif index == 1:
            continue
        else:
            keys = tags.find("th").get_text(" ", strip=True)     
            values = get_content_value(tags.find("td"))
            movie_info[keys] = values
    return movie_info

In [ ]:
## Using get_info function on each link and appending it to master data

master_data = []
for index, links in enumerate(movies_link):         # We defined movies_link above
    if index%10 == 0:                         
        print('Extracted', index+1, 'of', len(movies_link))    # To check the progress
    try:
        relative_url = links['href']
        movie_title = links['title']
        
        new_url = base_url + relative_url
        master_data.append(get_info(new_url))
        
    except Exception as e:
        print(links.get_text())
        print(e)

Extracted 1 of 510
Extracted 11 of 510
Extracted 21 of 510
Extracted 31 of 510
Extracted 41 of 510
Sleeping Beauty
'NoneType' object has no attribute 'get_text'
Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
Extracted 51 of 510
Extracted 61 of 510
Extracted 71 of 510
Extracted 81 of 510
Extracted 91 of 510
Extracted 101 of 510
Extracted 111 of 510
Extracted 121 of 510
True-Life Adventures
'NoneType' object has no attribute 'find_all'
Extracted 131 of 510
Extracted 141 of 510
The London Connection
'NoneType' object has no attribute 'find'
Extracted 151 of 510
Extracted 161 of 510
Extracted 171 of 510
Extracted 181 of 510
Extracted 191 of 510
Extracted 201 of 510
Extracted 211 of 510
Extracted 221 of 510
Extracted 231 of 510
Extracted 241 of 510
Extracted 251 of 510
Extracted 261 of 510
Spirited Away
'NoneType' object has no attribute 'get_text'
Extracted 271 of 510
Extracted 281 of 510
Extracted 291 of 510
Extracted 301 of 510
Howl's Moving Castle
'NoneType' object has no attribute 'get_text'
Extracted 311 of 510
Extracted 321 of 510
The Nightmare Before Christmas 3D
'NoneType' object has no attribute 'get_text'
Extracted 331 of 510
The Secret of the Magic Gourd
'NoneType' object has no attribute 'get_text'
Extracted 341 of 510
Extracted 351 of 510
Ponyo
'NoneType' object has no attribute 'get_text'
Extracted 361 of 510
Extracted 371 of 510
Tales from Earthsea
'NoneType' object has no attribute 'get_text'
Anaganaga O Dheerudu
'NoneType' object has no attribute 'get_text'
Extracted 381 of 510
Extracted 391 of 510
The Secret World of Arrietty
'NoneType' object has no attribute 'get_text'
Extracted 401 of 510
Extracted 411 of 510
Extracted 421 of 510
Tini: The Movie
'NoneType' object has no attribute 'get_text'
Extracted 431 of 510
Born in China
'NoneType' object has no attribute 'get_text'
Extracted 441 of 510
Extracted 451 of 510
Extracted 461 of 510
Extracted 471 of 510
Extracted 481 of 510
The Beatles: Get Back–The Rooftop Concert
'NoneType' object has no attribute 'find'
Extracted 491 of 510
Extracted 501 of 510
Sister Act 3
'NoneType' object has no attribute 'find'
Tower of Terror
'NoneType' object has no attribute 'find_all'
Tron: Ares
'NoneType' object has no attribute 'find'

In [ ]:
len(master_data)   # Checking that everything executed well

491

**Out of 510 movie_links we have successfully scraped the complete Movie Information of 491 movies which is quite a big number.**


*The problem with other links could be broken links, poor HTML tagging, etc.*

### Save/Reload data in JSON

In [ ]:
# Creating save method

import json

def saveas_json(filename, data):
    with open(filename, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=2)

In [ ]:
# Creating reload method

import json

def reload_json(filename):
    with open(filename, encoding='utf-8') as data_file:
        data_loaded = json.load(data_file)
    return data_loaded

In [ ]:
# Sample execution of save method

#saveas_json('disney_allmovie_data_sample.json', master_data)

In [ ]:
# Sample Reloading file

# reload_json('disney_allmovie_data_sample.json')

## Cleaning data

*Now that we have movie data of more than 450 movies we can go further to clean it to make it good to analyze*

*************************************************************
*  Convert date string into datetime object

*We need to convert date in the format ['May 19, 1937'] to a datetime object*

*   We also need to convert the the time string such as '142 minutes' to integer time

*   We also need to convert all Budget and Box office values to a numerical (float) value

*e.g., '$418 million', '$164 million', '$76.4–$83.3 million (United States and Canada)'*

*************************************************************************

In [ ]:
from datetime import datetime
import dateutil.parser

In [ ]:
# Checking different types of date string that we can encounter

print([items.get('Release date', 'N/A') for items in master_data])

[['May 19, 1937'], ['December 21, 1937 ( Carthay Circle Theatre )'], ['February 7, 1940 ( Center Theatre )', 'February 23, 1940 (United States)'], ['November 13, 1940'], ['June 27, 1941'], ['October 23, 1941 (New York City)', 'October 31, 1941 (U.S.)'], ['August 9, 1942 (World Premiere – London)', 'August 13, 1942 (Premiere – New York City)', 'August 21, 1942 (U.S.)'], ['August 24, 1942 (World Premiere – Rio de Janeiro)', 'February 6, 1943 (U.S. Premiere – Boston)', 'February 19, 1943 (U.S.)'], ['July 17, 1943'], ['December 21, 1944 (Mexico City)', 'February 3, 1945 (US)'], ['April 20, 1946 (New York City premiere)', 'August 15, 1946 (U.S.)'], ['November 12, 1946 (Premiere: Atlanta, Georgia)', 'November 20, 1946', 'March 30, 1947 (Stanford Theatre, Palo Alto, California)'], ['September 27, 1947'], 'May 27, 1948', ['November 29, 1948 (Chicago, Illinois)', 'January 19, 1949 (Indianapolis, Indiana)'], ['October 5, 1949'], ['February 15, 1950 (Boston)', 'March 4, 1950 (United States)'], ['June 22, 1950 (World Premiere-London)', 'July 29, 1950 (US)'], ['July 26, 1951 (London, premiere)', 'July 28, 1951 (New York City, premiere)'], ['March 13, 1952 (Premiere- London )', 'June 26, 1952 ( US )'], ['February 5, 1953 (United States)'], ["July 23, 1953 ('US )"], ['November 10, 1953'], ['26 October 1953 (Premiere- London )', '27 February 1954 ( US )'], ['August 17, 1954'], ['December 23, 1954'], 'May 25, 1955', ['June 22, 1955'], ['September 14, 1955'], 'December 22, 1955', 'June 8, 1956', 'July 18, 1956', ['September 4, 1956'], ['December 20, 1956'], 'June 19, 1957', 'August 28, 1957', ['December 25, 1957'], ['July 8, 1958'], ['August 12, 1958'], ['December 25, 1958'], ['March 19, 1959'], ['June 24, 1959 (Dublin)', 'June 26, 1959 (Los Angeles)'], ['November 10, 1959'], 'January 21, 1960 ( Sarasota, FL )', ['February 24, 1960'], 'May 19, 1960', ['June 1960 ( Berlin )', 'August 10, 1960 (US)'], ['November 1, 1960'], ['December 21, 1960'], ['January 25, 1961'], 'March 16, 1961', ['June 21, 1961'], ['July 12, 1961'], ['July 17, 1961'], ['December 14, 1961'], 'April 5, 1962', ['May 17, 1962'], ['June 6, 1962'], 'September 26, 1962', ['November 7, 1962 (Los Angeles)'], ['November 14, 1962 (London, premiere)', 'December 19, 1962 (US)'], ['January 16, 1963'], ['March 29, 1963 (U.S.)'], ['June 1, 1963'], ['July 7, 1963'], 'November 20, 1963', ['December 25, 1963'], ['March 12, 1964'], ['February 11, 1964 (Los Angeles)'], ['11 December 1963 ( New York City )', '4 June 1964 (U.S.)'], ['July 2, 1964'], ['August 27, 1964 (LA)', 'September 24, 1964 (NY)'], 'November 10, 1964', ['December 18, 1964'], ['August 18, 1965 (Los Angeles)'], ['December 2, 1965'], ['February 4, 1966 (premiere)', 'February 16, 1966 (United States)'], ['June 25, 1966 (San Diego)', 'June 29, 1966 (U.S.)'], 'October 1, 1966', ['December 1, 1966'], ['February 8, 1967 (San Francisco)'], ['June 15, 1967'], ['July 12, 1967'], ['October 18, 1967'], ['October 19, 1967'], ['June 23, 1967', 'November 30, 1967'], ['February 8, 1968'], ['March 21, 1968 ( Radio City Music Hall )'], ['June 26, 1968'], ['December 3, 1968'], ['December 24, 1968 (limited)', 'March 13, 1969 (wide)'], ['May 9, 1969'], 'September 4, 1969', ['November 28, 1969'], ['February 11, 1970'], 'July 1, 1970', ['December 15, 1970', 'January 20, 1971'], ['December 11, 1970 (premiere)', 'December 24, 1970 (United States)'], 'March 17, 1971', 'June 22, 1971', ['June 30, 1971'], ['October 7, 1971 (United Kingdom)', 'December 13, 1971 (United States)'], ['March 22, 1972 (US)'], 'July 12, 1972', ['July 5, 1972'], ['October 18, 1972'], ['December 22, 1972'], 'February 1, 1973', ['March 23, 1973'], ['June 20, 1973'], ['November 8, 1973'], ['December 14, 1973'], ['June 6, 1974'], ['July 31, 1974'], ['August 1, 1974'], 'December 20, 1974 (with Winnie the Pooh and Tigger Too )', ['February 6, 1975'], ['March 21, 1975 (United States)'], ['July 1, 1975'], ['July 9, 1975'], ['October 8, 1975'], 'December 25, 1975', ['February 11, 1976 (Los Angeles)'], ['July 1, 1976'], ['July 7, 1976'], ['December 16, 1976'], ['December 17, 1976'], ['May 26, 1976', '(UK)', 'March 11, 1977', '(US)'], ['March 11, 1977'], ['June 20, 1977'], ['June 22, 1977'], ['June 24, 1977'], ['November 3, 1977'], 'December 16, 1977', ['March 10, 1978'], ['June 30, 1978 (New York)'], 'July 5, 1978', 'February 9, 1979', ['June 27, 1979'], ['July 19, 1979 (London)', 'August 3, 1979 (Los Angeles)'], ['December 18, 1979 (United Kingdom)', 'December 21, 1979 (United States)'], ['February 8, 1980'], ['April 17, 1980 (New York City)', 'October 9, 1981 (U.S.)'], ['June 27, 1980'], ['July 9, 1980 (Los Angeles)'], ['December 6, 1980 ( Los Angeles )', 'December 12, 1980 ( United States )'], 'February 11, 1981 (Los Angeles)', 'March 20, 1981', ['June 26, 1981'], ['July 10, 1981'], ['August 7, 1981'], 'February 5, 1982', ['July 9, 1982'], 'July 30, 1982', ['March 11, 1983'], ['April 29, 1983 (United States)'], ['October 7, 1983 (limited)', 'January 27, 1984 (release)'], ['June 21, 1985 (United States)'], ['July 24, 1985'], ['September 27, 1985'], ['November 22, 1985'], ['July 2, 1986'], ['August 1, 1986'], ['June 5, 1987'], ['24 March 1988 (Australia)'], ['November 18, 1988'], ['June 23, 1989'], 'August 18, 1989', ['November 17, 1989'], ['August 3, 1990'], ['November 16, 1990'], ['January 18, 1991'], ['3 October 1990'], ['May 24, 1991'], ['June 21, 1991'], ['September 29, 1991 ( NYFF )', 'November 22, 1991 (United States)'], ['April 10, 1992'], ['July 17, 1992'], ['October 2, 1992'], ['November 25, 1992'], ['December 11, 1992'], 'February 3, 1993', ['March 12, 1993'], ['April 2, 1993'], ['July 16, 1993'], ['October 1, 1993'], ['November 12, 1993'], ['January 14, 1994'], ['February 11, 1994'], ['April 17, 1994'], ['April 14, 1994'], ['June 15, 1994 (United States)'], ['July 15, 1994'], ['October 28, 1994'], ['November 11, 1994'], ['December 25, 1994'], ['February 17, 1995'], ['March 3, 1995'], ['March 24, 1995'], ['April 7, 1995'], ['June 10, 1995', 'June 23, 1995'], ['July 28, 1995'], ['August 11, 1995'], ['September 27, 1995'], ['January 22, 1995 ( Sundance Film Festival )', 'October 20, 1995 (U.S.)'], ['November 19, 1995 ( El Capitan Theatre )', 'November 22, 1995 (United States)'], ['December 22, 1995'], ['February 16, 1996'], ['March 8, 1996'], ['April 12, 1996 (United States)', 'August 2, 1996 (United Kingdom)'], ['June 19, 1996 (New Orleans)', 'June 21, 1996 (United States)'], ['August 30, 1996'], ['October 4, 1996'], ['November 27, 1996 (United States)'], ['February 14, 1997'], ['March 7, 1997 (US)', 'August 5, 1997 (France)'], 'March 18, 1997', ['June 13, 1997 (United States)'], ['July 16, 1997'], ['August 1, 1997'], ['October 10, 1997'], ['November 16, 1997 ( Pennsylvania )', 'November 26, 1997 (United States)'], ['December 25, 1997'], ['March 27, 1998 (United States)'], ['June 19, 1998'], ['July 29, 1998 (United States)'], 'September 29, 1998', ['November 13, 1998'], ['November 20, 1998'], ['December 25, 1998'], ['February 12, 1999'], ['March 26, 1999'], ['May 14, 1999'], ['June 12, 1999 ( El Capitan Theatre )', 'June 16, 1999 (United States )'], ['July 23, 1999'], ['May 1999 ( Cannes )', 'October 15, 1999 (United States)'], ['November 13, 1999 ( El Capitan Theatre )', 'November 24, 1999 (United States)'], ['December 17, 1999 (Premiere)', 'January 1, 2000 ( IMAX )', 'June 16, 2000 (United States)'], ['February 11, 2000 (United States)', 'March 24, 2004 (', 'Toon Disney', ')', 'August 29, 2005 (', 'Disney Channel', ')', 'August 22, 2000 (', 'DVD', 'and', 'VHS', ')'], ['March 10, 2000'], ['May 19, 2000 (United States)'], ['July 7, 2000'], ['September 29, 2000'], ['November 22, 2000 (United States)'], ['December 8, 2000 (premiere)', 'December 15, 2000'], ['February 10, 2001 (premiere)', 'February 16, 2001 (United States)'], ['February 27, 2001'], ['June 3, 2001 (premiere)', 'June 15, 2001 (United States)'], ['July 29, 2001 ( El Capitan Theatre )', 'August 3, 2001 (United States)'], ['October 5, 2001'], ['October 28, 2001 ( El Capitan Theatre )', 'November 2, 2001 (United States)'], ['November 6, 2001'], ['January 18, 2002'], ['February 10, 2002 ( New York City )', 'February 15, 2002 (United States)'], ['February 26, 2002'], ['March 19, 2002'], ['March 29, 2002'], ['June 14, 2002 (premiere)', 'June 21, 2002'], ['July 21, 2002', 'July 26, 2002'], ['October 11, 2002 (U.S.)'], ['November 1, 2002'], ['November 27, 2002'], ['January 21, 2003'], ['February 14, 2003'], ['March 11, 2003'], ['March 16, 2003 (Premiere)', 'March 21, 2003 (United States)', 'July 2, 2003 ( Manila , Philippines )'], ['March 31, 2003 (premiere)', 'April 11, 2003 (limited)'], ['April 18, 2003 (United States)'], ['May 2, 2003 (United States)'], ['May 30, 2003'], ['June 28, 2003 ( Disneyland Resort )', 'July 9, 2003 (United States)'], ['August 4, 2003 ( Los Angeles )', 'August 6, 2003 (United States)'], ['August 26, 2003'], ['October 21, 2003'], ['November 1, 2003'], ['November 26, 2003'], ['December 25, 2003'], ['January 16, 2004'], ['February 20, 2004'], ['February 10, 2004'], ['February 17, 2004 (United States)'], ['March 9, 2004'], ['April 2, 2004'], ['April 22, 2004'], ['June 16, 2004'], ['July 2, 2004'], ['August 11, 2004'], ['August 17, 2004'], ['October 24, 2004 ( El Capitan Theatre )', 'November 5, 2004 (United States)'], ['November 9, 2004'], ['November 19, 2004'], ['January 28, 2005'], ['November 3, 2004 (Italy)', 'February 1, 2005 (United States)'], ['February 11, 2005'], ['March 4, 2005'], ['March 18, 2005'], ['June 14, 2005'], ['June 22, 2005'], ['July 29, 2005'], ['March 25, 2005 (UK)', 'August 19, 2005 (US)'], ['August 30, 2005'], ['September 13, 2005'], ['September 30, 2005'], ['October 30, 2005 ( El Capitan Theatre )', 'November 4, 2005 (United States)'], ['December 7, 2005 ( Royal Film Performance )', 'December 8, 2005 (United Kingdom)', 'December 9, 2005 (United States)'], 'December 13, 2005', 'January 13, 2006', ['January 26, 2006 (Argentina)', 'February 7, 2006 (United States)'], ['January 27, 2006'], ['February 17, 2006 (United States)'], ['March 10, 2006'], ['April 14, 2006'], ["May 26, 2006 ( Lowe's Motor Speedway )", 'June 9, 2006 (United States)'], ['June 23, 2006', 'June 27, 2006'], ['June 24, 2006 ( Disneyland Resort )', 'July 7, 2006 (United States)'], ['August 25, 2006'], ['August 29, 2006'], ['November 3, 2006'], ['December 12, 2006'], ['February 6, 2007'], ['February 16, 2007'], ['March 23, 2007 (United Kingdom)', 'March 30, 2007 (United States)'], ['May 19, 2007 ( Disneyland Resort )', 'May 25, 2007 (United States)'], ['June 22, 2007 ( Kodak Theatre )', 'June 29, 2007 (United States)'], ['August 3, 2007'], ['August 28, 2007'], ['September 23, 2007 ( Hollywood )', 'September 28, 2007 (United States)'], ['October 20, 2007 ( London )', 'November 21, 2007 (United States)'], ['December 21, 2007'], 'February 1, 2008', ['March 7, 2008'], ['May 7, 2008 ( New York City )', 'May 16, 2008 (United States)', 'June 26, 2008 (United Kingdom)'], ['June 23, 2008 ( Los Angeles )', 'June 27, 2008 (United States)'], ['August 26, 2008'], ['October 28, 2008'], ['October 3, 2008 (United States)'], 'October 17, 2008', ['October 17, 2008 (London)', 'October 24, 2008 (United States)'], ['23 October 2008 (Kuwait)', '24 October 2008 (India and United States)'], ['November 21, 2008'], ['December 25, 2008'], ['February 27, 2009'], ['March 11, 2009 (Egypt)', 'March 13, 2009 (United States)'], ['April 10, 2009'], ['10 October 2007 (France)', '16 November 2007 (United Kingdom)', '12 January 2008 (Germany)', '22 April 2009 (United States)'], ['April 24, 2009 (San Francisco International Film Festival)', 'May 22, 2009 (United States)'], ['May 13, 2009 ( Cannes )', 'May 29, 2009 (United States)'], 'N/A', ['July 24, 2009'], ['June 5, 2009 (Japan)', 'October 27, 2009 (United States)', 'February 15, 2010 (Hindi)'], ['2008'], ['October 29, 2009'], ['November 3, 2009 ( London )', 'November 6, 2009 (United States)'], ['November 25, 2009'], ['November 25, 2009 (Los Angeles premiere)', 'December 11, 2009 (United States)'], ['February 25, 2010 ( Odeon Leicester Square )', 'March 5, 2010 (United States)'], ['October 17, 2009 ( Tokyo International Film Festival )', 'January 24, 2010 (France)'], ['May 9, 2010 (London premiere)', 'May 28, 2010 (United States)'], ['June 12, 2010 ( Taormina Film Fest )', 'June 18, 2010 (United States)'], ['July 8, 2010 (Fantasia Film Festival)', 'July 14, 2010'], ['August 13, 2010 (United Kingdom)', 'September 21, 2010 (United States)'], ['26 October 2008 ( France )', '29 September 2009 ( United Kingdom )'], ['September 30, 2010 ( Hollywood )', 'October 8, 2010 (United States)'], ['8 October 2010'], ['November 14, 2010 ( El Capitan Theatre )', 'November 24, 2010 (United States)'], ['November 30, 2010 (Tokyo)', 'December 17, 2010 (United States)'], ['February 1, 2011'], ['17 February 2011'], ['March 6, 2011 ( El Capitan Theatre )', 'March 11, 2011 (United States)'], ['22 April 2011'], ['April 22, 2011 (United States)', 'February 1, 2012 (France)', 'April 27, 2012 (United Kingdom)'], ['April 29, 2011'], ['May 7, 2011 ( Disneyland Resort )', 'May 20, 2011 (United States)'], ['June 18, 2011 (Hollywood)', 'June 24, 2011 (United States)'], ['April 6, 2011 (Belgium)', 'July 15, 2011 (United States)'], ['September 20, 2011'], ['November 4, 2011 (Savannah Film Festival)', 'November 23, 2011 (United States)'], ['January 31, 2012'], ['February 22, 2012 ( Los Angeles )', 'March 9, 2012 (United States)'], ['April 20, 2012 (United States)', 'February 20, 2013 (France)', 'May 3, 2013 (United Kingdom)'], ['25 May 2012'], ['June 10, 2012 ( SIFF )', 'June 22, 2012 (United States)'], ['August 15, 2012'], ['August 16, 2012 (Ukraine)', 'August 31, 2012 (United States (limited))', 'October 23, 2012 (DVD release)'], ['September 18, 2012'], ['September 20, 2012 (Fantastic Fest)', 'October 5, 2012 (United States)'], ['October 29, 2012 ( El Capitan Theatre )', 'November 2, 2012 (United States)'], ['February 14, 2013 ( El Capitan Theatre )', 'March 8, 2013 (United States)'], ['16 March 2011 (France)', '16 April 2013 (United States)'], ['June 5, 2013 ( BFI Southbank )', 'June 21, 2013 (United States)'], ['June 22, 2013 ( Hyperion Theatre )', 'July 3, 2013 (United States)'], ['August 2, 2013 ( EAA AirVenture Oshkosh )', 'August 9, 2013 (United States)'], ['August 27, 2013'], ['November 19, 2013 ( El Capitan Theatre )', 'November 22, 2013 (United States)'], ['October 20, 2013 ( BFI London Film Festival )', 'November 29, 2013 (United Kingdom)', 'December 13, 2013 (United States)', 'January 9, 2014 (Australia)'], ['February 13, 2014 (Denmark)', 'April 1, 2014 (United States)'], ['March 11, 2014 ( El Capitan Theatre )', 'March 21, 2014 (United States)'], ['April 18, 2014 (United States)'], ['May 6, 2014 ( El Capitan Theatre )', 'May 16, 2014 (United States)'], ['May 28, 2014 ( El Capitan Theatre )', 'May 30, 2014 (United States)'], ['July 15, 2014 ( El Capitan Theatre )', 'July 18, 2014 (United States)'], ['19 September 2014'], ['October 6, 2014 ( El Capitan Theatre )', 'October 10, 2014 (United States)'], ['October 23, 2014 ( Tokyo International Film Festival )', 'October 31, 2014 ( Abu Dhabi Film Festival )', 'November 7, 2014 (United States)'], ['December 8, 2014 ( Ziegfeld Theatre )', 'December 25, 2014 (United States)'], ['February 9, 2015 ( Hollywood )', 'February 20, 2015 (United States)'], ['December 12, 2014 (United Kingdom)', 'March 3, 2015 (United States)'], ['February 13, 2015 ( Berlin )', 'March 13, 2015 (United States)', 'March 27, 2015 (United Kingdom)'], ['April 17, 2015 (United States)'], ['May 9, 2015 ( Disneyland )', 'May 22, 2015 (United States)'], ['May 18, 2015 ( Cannes )', 'June 19, 2015 (United States)'], ['19 June 2015'], ['November 10, 2015 ( Paris )', 'November 25, 2015 (United States)'], ['January 25, 2016 ( TCL Chinese Theatre )', 'January 29, 2016 (United States)'], ['February 13, 2016 (Belgium)', 'March 4, 2016 (United States)'], ['April 4, 2016 ( El Capitan Theatre )', 'April 15, 2016 (United States)'], ['May 10, 2016 ( London )', 'May 27, 2016 (United States)'], ['June 8, 2016 ( El Capitan Theatre )', 'June 17, 2016 (United States)'], ['May 14, 2016 ( Cannes )', 'July 1, 2016 (United States)', 'July 22, 2016 (United Kingdom)'], ['August 8, 2016 ( El Capitan Theatre )', 'August 12, 2016 (United States)'], ['September 10, 2016 ( TIFF )', 'September 23, 2016 (United States)'], ['November 14, 2016 ( AFI Fest )', 'November 23, 2016 (United States)'], ['21 December 2016 (United States)', '23 December 2016 (India)'], ['24 June 2005'], ['February 23, 2017 ( Spencer House )', 'March 17, 2017 (United States)'], ['May 11, 2017 ( Shanghai Disney Resort )', 'May 26, 2017 (United States)'], ['May 23, 2017 ( Kannapolis )', 'June 16, 2017 (United States)'], ['June 30, 2017 (United States)'], ['14 July 2017'], ['October 29, 2017 ( Russia )'], ['October 20, 2017 ( Morelia )', 'November 22, 2017 (United States)'], ['February 26, 2018 ( El Capitan Theatre )', 'March 9, 2018 (United States)'], ['June 5, 2018 ( Los Angeles )', 'June 15, 2018 (United States)'], ['July 30, 2018 ( Burbank )', 'August 3, 2018 (United States)'], ['October 29, 2018 ( Dolby Theatre )', 'November 2, 2018 (United States)'], ['November 5, 2018 ( El Capitan Theatre )', 'November 21, 2018 (United States)'], ['November 29, 2018 ( Dolby Theatre )', 'December 19, 2018 (United States)'], ['March 11, 2019 ( Los Angeles )', 'March 29, 2019 (United States)'], ['April 17, 2019 (United States)'], ['May 8, 2019 ( Grand Rex )', 'May 24, 2019 (United States)'], ['June 11, 2019 ( El Capitan Theatre )', 'June 21, 2019 (United States)'], ['July 9, 2019 ( Hollywood )', 'July 19, 2019 (United States)'], ['October 18, 2019'], ['November 12, 2019 (United States)'], ['November 12, 2019 (United States)'], ['November 7, 2019 ( Dolby Theatre )', 'November 22, 2019 (United States)'], ['December 20, 2019 (United States)'], ['January 25, 2020 ( Sundance )', 'February 7, 2020 ( Disney+ )'], ['February 21, 2020 ( Berlinale )', 'March 6, 2020 (United States)'], ['March 13, 2020 (United States)'], ['March 28, 2018 (France)', 'April 3, 2020 ( Disney+ )'], ['April 3, 2020'], ['June 12, 2020'], ['July 3, 2020'], ['July 31, 2020'], ['August 14, 2020'], ['August 21, 2020 (United States)'], ['March 9, 2020 ( Hollywood )', 'September 4, 2020 (United States)'], ['December 4, 2020 (United States)'], ['December 11, 2020 (United States)'], ['October 11, 2020 ( BFI Fest )', 'December 25, 2020 (United States)'], ['January 1, 2021 ( Russia )'], ['February 19, 2021 (United States)'], ['March 5, 2021 (United States)'], ['May 18, 2021 ( El Capitan Theatre )', 'May 28, 2021 (United States)'], ['June 13, 2021 ( Aquarium of Genoa )', 'June 18, 2021 (United States)'], ['July 24, 2021 ( Disneyland Resort )', 'July 30, 2021 (United States)'], ['November 3, 2021 ( El Capitan Theatre )', 'November 24, 2021 (United States)'], ['December 3, 2021'], ['December 23, 2021'], ['March 11, 2022 (United States)'], ['June 17, 2022'], 'May 26, 2023', ['2022'], ['2022'], ['2022'], '2022', 'N/A', ['December 3, 2021'], ['2022'], 'N/A', ['2022'], ['2022'], ['November 25, 1987'], 'N/A', 'N/A', ['June 14, 2002 (premiere)', 'June 21, 2002'], ['December 21, 2007'], 'N/A', ['December 21, 1937 ( Carthay Circle Theatre )'], ['June 21, 1991']]

This code snippet will extract dates from all different date string types and handle all the edge cases and convert it to datetime object

In [ ]:
#str_date = ["26 October 1953 ( 1953-10-26 ) (Premiere- London ) [1]", "27 February 1954 ( 1954-02-27 ) ( US ) [1]"]

def date_convert(str_date):
    if str_date == 'N/A':
        return None
    
    if isinstance(str_date, list):
        date = str_date[0]
        split_date = date.split("(")[0].strip()
        date = dateutil.parser.parse(split_date).strftime('%d %B, %Y')   #Converting every format to a specific format
        return datetime.strptime(date, '%d %B, %Y').date()                 # Creating python date object
    
    if not isinstance(str_date, list):
        split_date = str_date.split("(")[0].strip()
        date = dateutil.parser.parse(split_date).strftime('%d %B, %Y')    #Converting every format to a specific format
        return datetime.strptime(date, '%d %B, %Y').date()

This snippet will update all a new key value pair in the master_data list of all movie data with a datetime object

In [ ]:
for dictionary in master_data:      #Selecting a dictionary from master data and adding a new key to the dictionary
    dictionary['Release date (Standard)'] = date_convert(dictionary.get('Release date', 'N/A'))

In [ ]:
# Check

print([items.get('Release date (Standard)') for items in master_data])

[datetime.date(1937, 5, 19), datetime.date(1937, 12, 21), datetime.date(1940, 2, 7), datetime.date(1940, 11, 13), datetime.date(1941, 6, 27), datetime.date(1941, 10, 23), datetime.date(1942, 8, 9), datetime.date(1942, 8, 24), datetime.date(1943, 7, 17), datetime.date(1944, 12, 21), datetime.date(1946, 4, 20), datetime.date(1946, 11, 12), datetime.date(1947, 9, 27), datetime.date(1948, 5, 27), datetime.date(1948, 11, 29), datetime.date(1949, 10, 5), datetime.date(1950, 2, 15), datetime.date(1950, 6, 22), datetime.date(1951, 7, 26), datetime.date(1952, 3, 13), datetime.date(1953, 2, 5), datetime.date(1953, 7, 23), datetime.date(1953, 11, 10), datetime.date(1953, 10, 26), datetime.date(1954, 8, 17), datetime.date(1954, 12, 23), datetime.date(1955, 5, 25), datetime.date(1955, 6, 22), datetime.date(1955, 9, 14), datetime.date(1955, 12, 22), datetime.date(1956, 6, 8), datetime.date(1956, 7, 18), datetime.date(1956, 9, 4), datetime.date(1956, 12, 20), datetime.date(1957, 6, 19), datetime.date(1957, 8, 28), datetime.date(1957, 12, 25), datetime.date(1958, 7, 8), datetime.date(1958, 8, 12), datetime.date(1958, 12, 25), datetime.date(1959, 3, 19), datetime.date(1959, 6, 24), datetime.date(1959, 11, 10), datetime.date(1960, 1, 21), datetime.date(1960, 2, 24), datetime.date(1960, 5, 19), datetime.date(1960, 6, 7), datetime.date(1960, 11, 1), datetime.date(1960, 12, 21), datetime.date(1961, 1, 25), datetime.date(1961, 3, 16), datetime.date(1961, 6, 21), datetime.date(1961, 7, 12), datetime.date(1961, 7, 17), datetime.date(1961, 12, 14), datetime.date(1962, 4, 5), datetime.date(1962, 5, 17), datetime.date(1962, 6, 6), datetime.date(1962, 9, 26), datetime.date(1962, 11, 7), datetime.date(1962, 11, 14), datetime.date(1963, 1, 16), datetime.date(1963, 3, 29), datetime.date(1963, 6, 1), datetime.date(1963, 7, 7), datetime.date(1963, 11, 20), datetime.date(1963, 12, 25), datetime.date(1964, 3, 12), datetime.date(1964, 2, 11), datetime.date(1963, 12, 11), datetime.date(1964, 7, 2), datetime.date(1964, 8, 27), datetime.date(1964, 11, 10), datetime.date(1964, 12, 18), datetime.date(1965, 8, 18), datetime.date(1965, 12, 2), datetime.date(1966, 2, 4), datetime.date(1966, 6, 25), datetime.date(1966, 10, 1), datetime.date(1966, 12, 1), datetime.date(1967, 2, 8), datetime.date(1967, 6, 15), datetime.date(1967, 7, 12), datetime.date(1967, 10, 18), datetime.date(1967, 10, 19), datetime.date(1967, 6, 23), datetime.date(1968, 2, 8), datetime.date(1968, 3, 21), datetime.date(1968, 6, 26), datetime.date(1968, 12, 3), datetime.date(1968, 12, 24), datetime.date(1969, 5, 9), datetime.date(1969, 9, 4), datetime.date(1969, 11, 28), datetime.date(1970, 2, 11), datetime.date(1970, 7, 1), datetime.date(1970, 12, 15), datetime.date(1970, 12, 11), datetime.date(1971, 3, 17), datetime.date(1971, 6, 22), datetime.date(1971, 6, 30), datetime.date(1971, 10, 7), datetime.date(1972, 3, 22), datetime.date(1972, 7, 12), datetime.date(1972, 7, 5), datetime.date(1972, 10, 18), datetime.date(1972, 12, 22), datetime.date(1973, 2, 1), datetime.date(1973, 3, 23), datetime.date(1973, 6, 20), datetime.date(1973, 11, 8), datetime.date(1973, 12, 14), datetime.date(1974, 6, 6), datetime.date(1974, 7, 31), datetime.date(1974, 8, 1), datetime.date(1974, 12, 20), datetime.date(1975, 2, 6), datetime.date(1975, 3, 21), datetime.date(1975, 7, 1), datetime.date(1975, 7, 9), datetime.date(1975, 10, 8), datetime.date(1975, 12, 25), datetime.date(1976, 2, 11), datetime.date(1976, 7, 1), datetime.date(1976, 7, 7), datetime.date(1976, 12, 16), datetime.date(1976, 12, 17), datetime.date(1976, 5, 26), datetime.date(1977, 3, 11), datetime.date(1977, 6, 20), datetime.date(1977, 6, 22), datetime.date(1977, 6, 24), datetime.date(1977, 11, 3), datetime.date(1977, 12, 16), datetime.date(1978, 3, 10), datetime.date(1978, 6, 30), datetime.date(1978, 7, 5), datetime.date(1979, 2, 9), datetime.date(1979, 6, 27), datetime.date(1979, 7, 19), datetime.date(1979, 12, 18), datetime.date(1980, 2, 8), datetime.date(1980, 4, 17), datetime.date(1980, 6, 27), datetime.date(1980, 7, 9), datetime.date(1980, 12, 6), datetime.date(1981, 2, 11), datetime.date(1981, 3, 20), datetime.date(1981, 6, 26), datetime.date(1981, 7, 10), datetime.date(1981, 8, 7), datetime.date(1982, 2, 5), datetime.date(1982, 7, 9), datetime.date(1982, 7, 30), datetime.date(1983, 3, 11), datetime.date(1983, 4, 29), datetime.date(1983, 10, 7), datetime.date(1985, 6, 21), datetime.date(1985, 7, 24), datetime.date(1985, 9, 27), datetime.date(1985, 11, 22), datetime.date(1986, 7, 2), datetime.date(1986, 8, 1), datetime.date(1987, 6, 5), datetime.date(1988, 3, 24), datetime.date(1988, 11, 18), datetime.date(1989, 6, 23), datetime.date(1989, 8, 18), datetime.date(1989, 11, 17), datetime.date(1990, 8, 3), datetime.date(1990, 11, 16), datetime.date(1991, 1, 18), datetime.date(1990, 10, 3), datetime.date(1991, 5, 24), datetime.date(1991, 6, 21), datetime.date(1991, 9, 29), datetime.date(1992, 4, 10), datetime.date(1992, 7, 17), datetime.date(1992, 10, 2), datetime.date(1992, 11, 25), datetime.date(1992, 12, 11), datetime.date(1993, 2, 3), datetime.date(1993, 3, 12), datetime.date(1993, 4, 2), datetime.date(1993, 7, 16), datetime.date(1993, 10, 1), datetime.date(1993, 11, 12), datetime.date(1994, 1, 14), datetime.date(1994, 2, 11), datetime.date(1994, 4, 17), datetime.date(1994, 4, 14), datetime.date(1994, 6, 15), datetime.date(1994, 7, 15), datetime.date(1994, 10, 28), datetime.date(1994, 11, 11), datetime.date(1994, 12, 25), datetime.date(1995, 2, 17), datetime.date(1995, 3, 3), datetime.date(1995, 3, 24), datetime.date(1995, 4, 7), datetime.date(1995, 6, 10), datetime.date(1995, 7, 28), datetime.date(1995, 8, 11), datetime.date(1995, 9, 27), datetime.date(1995, 1, 22), datetime.date(1995, 11, 19), datetime.date(1995, 12, 22), datetime.date(1996, 2, 16), datetime.date(1996, 3, 8), datetime.date(1996, 4, 12), datetime.date(1996, 6, 19), datetime.date(1996, 8, 30), datetime.date(1996, 10, 4), datetime.date(1996, 11, 27), datetime.date(1997, 2, 14), datetime.date(1997, 3, 7), datetime.date(1997, 3, 18), datetime.date(1997, 6, 13), datetime.date(1997, 7, 16), datetime.date(1997, 8, 1), datetime.date(1997, 10, 10), datetime.date(1997, 11, 16), datetime.date(1997, 12, 25), datetime.date(1998, 3, 27), datetime.date(1998, 6, 19), datetime.date(1998, 7, 29), datetime.date(1998, 9, 29), datetime.date(1998, 11, 13), datetime.date(1998, 11, 20), datetime.date(1998, 12, 25), datetime.date(1999, 2, 12), datetime.date(1999, 3, 26), datetime.date(1999, 5, 14), datetime.date(1999, 6, 12), datetime.date(1999, 7, 23), datetime.date(1999, 5, 7), datetime.date(1999, 11, 13), datetime.date(1999, 12, 17), datetime.date(2000, 2, 11), datetime.date(2000, 3, 10), datetime.date(2000, 5, 19), datetime.date(2000, 7, 7), datetime.date(2000, 9, 29), datetime.date(2000, 11, 22), datetime.date(2000, 12, 8), datetime.date(2001, 2, 10), datetime.date(2001, 2, 27), datetime.date(2001, 6, 3), datetime.date(2001, 7, 29), datetime.date(2001, 10, 5), datetime.date(2001, 10, 28), datetime.date(2001, 11, 6), datetime.date(2002, 1, 18), datetime.date(2002, 2, 10), datetime.date(2002, 2, 26), datetime.date(2002, 3, 19), datetime.date(2002, 3, 29), datetime.date(2002, 6, 14), datetime.date(2002, 7, 21), datetime.date(2002, 10, 11), datetime.date(2002, 11, 1), datetime.date(2002, 11, 27), datetime.date(2003, 1, 21), datetime.date(2003, 2, 14), datetime.date(2003, 3, 11), datetime.date(2003, 3, 16), datetime.date(2003, 3, 31), datetime.date(2003, 4, 18), datetime.date(2003, 5, 2), datetime.date(2003, 5, 30), datetime.date(2003, 6, 28), datetime.date(2003, 8, 4), datetime.date(2003, 8, 26), datetime.date(2003, 10, 21), datetime.date(2003, 11, 1), datetime.date(2003, 11, 26), datetime.date(2003, 12, 25), datetime.date(2004, 1, 16), datetime.date(2004, 2, 20), datetime.date(2004, 2, 10), datetime.date(2004, 2, 17), datetime.date(2004, 3, 9), datetime.date(2004, 4, 2), datetime.date(2004, 4, 22), datetime.date(2004, 6, 16), datetime.date(2004, 7, 2), datetime.date(2004, 8, 11), datetime.date(2004, 8, 17), datetime.date(2004, 10, 24), datetime.date(2004, 11, 9), datetime.date(2004, 11, 19), datetime.date(2005, 1, 28), datetime.date(2004, 11, 3), datetime.date(2005, 2, 11), datetime.date(2005, 3, 4), datetime.date(2005, 3, 18), datetime.date(2005, 6, 14), datetime.date(2005, 6, 22), datetime.date(2005, 7, 29), datetime.date(2005, 3, 25), datetime.date(2005, 8, 30), datetime.date(2005, 9, 13), datetime.date(2005, 9, 30), datetime.date(2005, 10, 30), datetime.date(2005, 12, 7), datetime.date(2005, 12, 13), datetime.date(2006, 1, 13), datetime.date(2006, 1, 26), datetime.date(2006, 1, 27), datetime.date(2006, 2, 17), datetime.date(2006, 3, 10), datetime.date(2006, 4, 14), datetime.date(2006, 5, 26), datetime.date(2006, 6, 23), datetime.date(2006, 6, 24), datetime.date(2006, 8, 25), datetime.date(2006, 8, 29), datetime.date(2006, 11, 3), datetime.date(2006, 12, 12), datetime.date(2007, 2, 6), datetime.date(2007, 2, 16), datetime.date(2007, 3, 23), datetime.date(2007, 5, 19), datetime.date(2007, 6, 22), datetime.date(2007, 8, 3), datetime.date(2007, 8, 28), datetime.date(2007, 9, 23), datetime.date(2007, 10, 20), datetime.date(2007, 12, 21), datetime.date(2008, 2, 1), datetime.date(2008, 3, 7), datetime.date(2008, 5, 7), datetime.date(2008, 6, 23), datetime.date(2008, 8, 26), datetime.date(2008, 10, 28), datetime.date(2008, 10, 3), datetime.date(2008, 10, 17), datetime.date(2008, 10, 17), datetime.date(2008, 10, 23), datetime.date(2008, 11, 21), datetime.date(2008, 12, 25), datetime.date(2009, 2, 27), datetime.date(2009, 3, 11), datetime.date(2009, 4, 10), datetime.date(2007, 10, 10), datetime.date(2009, 4, 24), datetime.date(2009, 5, 13), None, datetime.date(2009, 7, 24), datetime.date(2009, 6, 5), datetime.date(2008, 1, 7), datetime.date(2009, 10, 29), datetime.date(2009, 11, 3), datetime.date(2009, 11, 25), datetime.date(2009, 11, 25), datetime.date(2010, 2, 25), datetime.date(2009, 10, 17), datetime.date(2010, 5, 9), datetime.date(2010, 6, 12), datetime.date(2010, 7, 8), datetime.date(2010, 8, 13), datetime.date(2008, 10, 26), datetime.date(2010, 9, 30), datetime.date(2010, 10, 8), datetime.date(2010, 11, 14), datetime.date(2010, 11, 30), datetime.date(2011, 2, 1), datetime.date(2011, 2, 17), datetime.date(2011, 3, 6), datetime.date(2011, 4, 22), datetime.date(2011, 4, 22), datetime.date(2011, 4, 29), datetime.date(2011, 5, 7), datetime.date(2011, 6, 18), datetime.date(2011, 4, 6), datetime.date(2011, 9, 20), datetime.date(2011, 11, 4), datetime.date(2012, 1, 31), datetime.date(2012, 2, 22), datetime.date(2012, 4, 20), datetime.date(2012, 5, 25), datetime.date(2012, 6, 10), datetime.date(2012, 8, 15), datetime.date(2012, 8, 16), datetime.date(2012, 9, 18), datetime.date(2012, 9, 20), datetime.date(2012, 10, 29), datetime.date(2013, 2, 14), datetime.date(2011, 3, 16), datetime.date(2013, 6, 5), datetime.date(2013, 6, 22), datetime.date(2013, 8, 2), datetime.date(2013, 8, 27), datetime.date(2013, 11, 19), datetime.date(2013, 10, 20), datetime.date(2014, 2, 13), datetime.date(2014, 3, 11), datetime.date(2014, 4, 18), datetime.date(2014, 5, 6), datetime.date(2014, 5, 28), datetime.date(2014, 7, 15), datetime.date(2014, 9, 19), datetime.date(2014, 10, 6), datetime.date(2014, 10, 23), datetime.date(2014, 12, 8), datetime.date(2015, 2, 9), datetime.date(2014, 12, 12), datetime.date(2015, 2, 13), datetime.date(2015, 4, 17), datetime.date(2015, 5, 9), datetime.date(2015, 5, 18), datetime.date(2015, 6, 19), datetime.date(2015, 11, 10), datetime.date(2016, 1, 25), datetime.date(2016, 2, 13), datetime.date(2016, 4, 4), datetime.date(2016, 5, 10), datetime.date(2016, 6, 8), datetime.date(2016, 5, 14), datetime.date(2016, 8, 8), datetime.date(2016, 9, 10), datetime.date(2016, 11, 14), datetime.date(2016, 12, 21), datetime.date(2005, 6, 24), datetime.date(2017, 2, 23), datetime.date(2017, 5, 11), datetime.date(2017, 5, 23), datetime.date(2017, 6, 30), datetime.date(2017, 7, 14), datetime.date(2017, 10, 29), datetime.date(2017, 10, 20), datetime.date(2018, 2, 26), datetime.date(2018, 6, 5), datetime.date(2018, 7, 30), datetime.date(2018, 10, 29), datetime.date(2018, 11, 5), datetime.date(2018, 11, 29), datetime.date(2019, 3, 11), datetime.date(2019, 4, 17), datetime.date(2019, 5, 8), datetime.date(2019, 6, 11), datetime.date(2019, 7, 9), datetime.date(2019, 10, 18), datetime.date(2019, 11, 12), datetime.date(2019, 11, 12), datetime.date(2019, 11, 7), datetime.date(2019, 12, 20), datetime.date(2020, 1, 25), datetime.date(2020, 2, 21), datetime.date(2020, 3, 13), datetime.date(2018, 3, 28), datetime.date(2020, 4, 3), datetime.date(2020, 6, 12), datetime.date(2020, 7, 3), datetime.date(2020, 7, 31), datetime.date(2020, 8, 14), datetime.date(2020, 8, 21), datetime.date(2020, 3, 9), datetime.date(2020, 12, 4), datetime.date(2020, 12, 11), datetime.date(2020, 10, 11), datetime.date(2021, 1, 1), datetime.date(2021, 2, 19), datetime.date(2021, 3, 5), datetime.date(2021, 5, 18), datetime.date(2021, 6, 13), datetime.date(2021, 7, 24), datetime.date(2021, 11, 3), datetime.date(2021, 12, 3), datetime.date(2021, 12, 23), datetime.date(2022, 3, 11), datetime.date(2022, 6, 17), datetime.date(2023, 5, 26), datetime.date(2022, 1, 7), datetime.date(2022, 1, 7), datetime.date(2022, 1, 7), datetime.date(2022, 1, 7), None, datetime.date(2021, 12, 3), datetime.date(2022, 1, 7), None, datetime.date(2022, 1, 7), datetime.date(2022, 1, 7), datetime.date(1987, 11, 25), None, None, datetime.date(2002, 6, 14), datetime.date(2007, 12, 21), None, datetime.date(1937, 12, 21), datetime.date(1991, 6, 21)]

In [ ]:
# Checking that previous date string still exists

print([items.get('Running time', 'N/A') for items in master_data])

['41 minutes (74 minutes 1966 release)', '83 minutes', '88 minutes', '126 minutes', '74 minutes', '64 minutes', '70 minutes', '42 minutes', '70 min', '71 minutes', '75 minutes', '94 minutes', '73 minutes', '75 minutes', '82 minutes', '68 minutes', '74 minutes', '96 minutes', '75 minutes', '84 minutes', '77 minutes', '92 minutes', '69 minutes', '81 minutes', ['60 minutes (VHS version)', '71 minutes (original)'], '127 minutes', '92 minutes', '76 minutes', '75 minutes', '73 minutes', '85 minutes', '81 minutes', '70 minutes', '90 min.', '80 minutes', '75 minutes', '83 minutes', '83 minutes', '72 minutes', '97 minutes', '104 minutes', '93 minutes', '105 minutes', '95 minutes', '97 minutes', '134 minutes', '69 minutes', '92 minutes', '126 minutes', '79 minutes', '97 minutes', '128 minutes', '73 minutes', '91 minutes', '105 minutes', '98 minutes', '130 minutes', '89 min.', '93 minutes', '67 minutes', '98 minutes', '100 minutes', '118 minutes', '103 minutes', '110 minutes', '80 min.', '79 minutes', '91 minutes', '91 minutes', '97 minutes', '118 minutes', '139 minutes', '131 mins.', '92 minutes', '87 minutes', '116 minutes', '93 minutes', '110 min.', '110 min.', '131 minutes', '101 minutes', '108 minutes', '84 minutes', '78 minutes', '75 minutes', ['164 minutes', '(', 'Los Angeles', 'premiere)', '144 minutes', '(', 'New York City', 'premiere)', '118 minutes', '(General release)', '172 minutes', '(', "Director's cut", ')'], '106 minutes', '110 minutes', '99 minutes', '113 mins.', '108 minutes', '112 minutes', '93 minutes', '91 minutes', '93 minutes', '100 minutes', '100 minutes', '79 minutes', '96 minutes', '113 minutes', '89 minutes', ['118 minutes (1971 original version)', '139 minutes (1996 reconstruction version)'], '92 minutes', '88 minutes', '92 minutes', '87 minutes', '93 minutes', '93 minutes', '93 minutes', '90 Minutes', '83 minutes', '96 minutes', '88 minutes', '89 minutes', '91 minutes', '93 minutes', '92 minutes', '97 minutes', '100 minutes', '100 minutes', '89 minutes', '91 minutes', '112 minutes', '115 minutes', '95 minutes', '91 min.', '97 minutes', '104 minutes', '74 minutes', '48 minutes', '77 minutes', '104 minutes', '128 minutes', '101 minutes', '94 minutes', '104 minutes', '90 minutes', '100 minutes', '88 minutes', '93 minutes', '98 minutes', '112 minutes', '84 minutes', '97 minutes', '97 minutes', '114 minutes', '96 minutes', '97 minutes', '109 minutes', '83 minutes', '90 minutes', '107 minutes', '96 minutes', '103 minutes', '91 min', '95 minutes', '105 minutes', '113 minutes', '80 minutes', '101 minutes', '90 minutes', '74 minutes', '90 minutes', '89 minutes', '110 minutes', '74 minutes', '93 minutes', '84 minutes', '83 minutes', '74 minutes', '77 minutes', '107 minutes', '93 minutes', '88 minutes', '108 minutes', '84 minutes', '121 minutes', '89 minutes', '104 minutes', '90 minutes', '86 minutes', '84 minutes', '108 minutes', '107 minutes', '96 minutes', '98 minutes', '105 minutes', '108 minutes', '94 minutes', '106 minutes', '102 minutes', '88 minutes', '102 minutes', '102 minutes', '97 minutes', '111 minutes', '100 minutes', '96 minutes', '98 minutes', '78 minutes', '81 minutes', '108 minutes', '89 minutes', '99 minutes', '89 minutes', '81 minutes', '92 minutes', '100 minutes', '89 minutes', '79 minutes', '91 minutes', '101 minutes', '104 minutes', '103 minutes', '86 minutes', '105 minutes', '75 minutes', '93 minutes', '92 minutes', '98 minutes', '95 minutes', '93 minutes', '87 minutes', '93 minutes', '87 minutes', '128 minutes', '77 minutes', '86 minutes', '95 minutes', '114 minutes', '93 minutes', '83 minutes', '83 minutes', '88 minutes', '78 minutes', '112 minutes', '92 minutes', '75 minutes', '78 minutes', '72 minutes', '82 minutes', '104 minutes', '113 minutes', '100 minutes', '78 minutes', '83 minutes', '69 minutes', '96 minutes', '115 minutes', '86 minutes', '92 minutes', '65 minutes', '99 minutes', '73 minutes', '73 minutes', '66 minutes', '128 minutes', '85 minutes', '88 minutes', '96 minutes', '104 minutes', '95 minutes', '74 minutes', '72 minutes', '88 minutes', '75 minutes', '61 minutes', '117 minutes', '94 minutes', '100 minutes', '143 minutes', '96 minutes', '64 minutes', '87 minutes', '85 minutes', '86 minutes', '97 minutes', '74 minutes', '136 minutes', '76 minutes', '85 minutes', '65 minutes', '76 minutes', '40 minutes', '120 minutes', '84 minutes', '113 minutes', '65 minutes', '115 minutes', '67 minutes', '131 minutes', '100 minutes', '79 minutes', '68 minutes', '95 minutes', '97 minutes', '75 minutes', '100 minutes', '100 minutes', '76 minutes', '68 minutes', '67 minutes', '120 minutes', '81 minutes', '143 minutes', '72 minutes', '118 minutes', '72 minutes', '40 minutes', '120 minutes', '99 minutes', '82 minutes', '117 minutes', '72 minutes', '150 minutes', '104 minutes', '73 minutes', '92 minutes', '69 minutes', '70 minutes', '95 minutes', '94 minutes', '167 minutes', '111 minutes', '82 minutes', '87 minutes', '110 minutes', '107 minutes', '124 minutes', '74 minutes', '82 minutes', '150 minutes', '97 minutes', '77 minutes', '78 minutes', '91 minutes', '100 minutes', '112 minutes', '93 minutes', '96 minutes', '99 minutes', ['76 minutes', '85 minutes'], '98 minutes', '97 minutes', ['99 minutes (UK)', '90 minutes (U.S.)'], '101 minutes', '96 minutes', 'N/A', '90 minutes', '82 minutes', '107 minutes', '101 minutes', '96 minutes', '88 minutes', '97 minutes', '108 minutes', ['104 minutes (Original cut)', '84 minutes (Disney cut)'], '116 minutes', '103 minutes', '109 minutes', '79 minutes', '74 minutes', '123 minutes', '108 minutes', '100 minutes', '125 minutes', '84 minutes', '90 minutes', '88 minutes', '109 minutes', '89 minutes', '104 minutes', '137 minutes', '106 minutes', '63 minutes', '88 minutes', '103 minutes', '93 minutes', '132 minutes', '77 minutes', '96 minutes', '93 minutes', '104 minutes', '75 minutes', '89 minutes', '87 minutes', '101 minutes', '130 minutes', '77 minutes', '104 minutes', '149 minutes', '92 minutes', '81 minutes', '102 minutes', '125 minutes', '78 minutes', '107 minutes', '77 minutes', '124 minutes', '97 minutes', '84 minutes', '127 minutes', '81 minutes', '102 minutes', '124 minutes', '129 minutes', '76 minutes', '106 minutes', '82 minutes', '130 minutes', '95 minutes', '154 minutes', '97 minutes', '117 minutes', '108 minutes', '106 minutes', '113 minutes', '97 minutes', '118 minutes', '103 minutes', '124 minutes', '107 minutes', '161 minutes', '80 minutes', '129 minutes', '129 minutes', '102 minutes', 'N/A', '162 minutes', '114 minutes', '105 minutes', '109 minutes', '118 minutes', '104 minutes', '99 minutes', '112 minutes', '131 minutes', '112 minutes', '76 minutes', '128 minutes', '100 minutes', '118 minutes', '119 minutes', '104 minutes', '100 minutes', '104 minutes', '114 minutes', '99 minutes', '102 minutes', '107 minutes', '78 minutes', '89 minutes', '95 minutes', '160 minutes', '85 minutes', '100 minutes', '95 minutes', '115 minutes', '110 minutes', '122 minutes', '100 minutes', '121 minutes', '95 minutes', '107 minutes', '134 minutes', '95 minutes', '128 minutes', '102 minutes', '58 minutes', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '58 minutes', 'N/A', 'N/A', 'N/A', 'N/A', '102 minutes', 'N/A', 'N/A', '85 minutes', '124 minutes', 'N/A', '83 minutes', '108 minutes']

This snippet will extract all the numerical values in the 'Running time' key in dictionary of movie info and convert it to integer time

In [ ]:
def int_time_convert(raw_time):
    if raw_time == 'N/A':
        return None
    elif isinstance(raw_time, list):
        return int(raw_time[0].split(" ")[0])      # Grabbing just the digit
    else:
        return int(raw_time.split(" ")[0])

This snippet will update all a new key value pair in the master_data list of all movie data with a integer 'Running time (int)'

In [ ]:
for dictionary in master_data:
    dictionary['Running time (int)'] = int_time_convert(dictionary.get('Running time', 'N/A'))

In [ ]:
# Check

print([items.get('Running time (int)', 'N/A') for items in master_data])

[41, 83, 88, 126, 74, 64, 70, 42, 70, 71, 75, 94, 73, 75, 82, 68, 74, 96, 75, 84, 77, 92, 69, 81, 60, 127, 92, 76, 75, 73, 85, 81, 70, 90, 80, 75, 83, 83, 72, 97, 104, 93, 105, 95, 97, 134, 69, 92, 126, 79, 97, 128, 73, 91, 105, 98, 130, 89, 93, 67, 98, 100, 118, 103, 110, 80, 79, 91, 91, 97, 118, 139, 131, 92, 87, 116, 93, 110, 110, 131, 101, 108, 84, 78, 75, 164, 106, 110, 99, 113, 108, 112, 93, 91, 93, 100, 100, 79, 96, 113, 89, 118, 92, 88, 92, 87, 93, 93, 93, 90, 83, 96, 88, 89, 91, 93, 92, 97, 100, 100, 89, 91, 112, 115, 95, 91, 97, 104, 74, 48, 77, 104, 128, 101, 94, 104, 90, 100, 88, 93, 98, 112, 84, 97, 97, 114, 96, 97, 109, 83, 90, 107, 96, 103, 91, 95, 105, 113, 80, 101, 90, 74, 90, 89, 110, 74, 93, 84, 83, 74, 77, 107, 93, 88, 108, 84, 121, 89, 104, 90, 86, 84, 108, 107, 96, 98, 105, 108, 94, 106, 102, 88, 102, 102, 97, 111, 100, 96, 98, 78, 81, 108, 89, 99, 89, 81, 92, 100, 89, 79, 91, 101, 104, 103, 86, 105, 75, 93, 92, 98, 95, 93, 87, 93, 87, 128, 77, 86, 95, 114, 93, 83, 83, 88, 78, 112, 92, 75, 78, 72, 82, 104, 113, 100, 78, 83, 69, 96, 115, 86, 92, 65, 99, 73, 73, 66, 128, 85, 88, 96, 104, 95, 74, 72, 88, 75, 61, 117, 94, 100, 143, 96, 64, 87, 85, 86, 97, 74, 136, 76, 85, 65, 76, 40, 120, 84, 113, 65, 115, 67, 131, 100, 79, 68, 95, 97, 75, 100, 100, 76, 68, 67, 120, 81, 143, 72, 118, 72, 40, 120, 99, 82, 117, 72, 150, 104, 73, 92, 69, 70, 95, 94, 167, 111, 82, 87, 110, 107, 124, 74, 82, 150, 97, 77, 78, 91, 100, 112, 93, 96, 99, 76, 98, 97, 99, 101, 96, None, 90, 82, 107, 101, 96, 88, 97, 108, 104, 116, 103, 109, 79, 74, 123, 108, 100, 125, 84, 90, 88, 109, 89, 104, 137, 106, 63, 88, 103, 93, 132, 77, 96, 93, 104, 75, 89, 87, 101, 130, 77, 104, 149, 92, 81, 102, 125, 78, 107, 77, 124, 97, 84, 127, 81, 102, 124, 129, 76, 106, 82, 130, 95, 154, 97, 117, 108, 106, 113, 97, 118, 103, 124, 107, 161, 80, 129, 129, 102, None, 162, 114, 105, 109, 118, 104, 99, 112, 131, 112, 76, 128, 100, 118, 119, 104, 100, 104, 114, 99, 102, 107, 78, 89, 95, 160, 85, 100, 95, 115, 110, 122, 100, 121, 95, 107, 134, 95, 128, 102, 58, None, None, None, None, None, None, None, None, None, 58, None, None, None, None, 102, None, None, 85, 124, None, 83, 108]

In [ ]:
# Checking different forms of strings

print([items.get("Budget", 'N/A') for items in master_data])

['N/A', '$1.49 million', '$2.6 million', '$2.28 million', '$600,000', '$950,000', '$858,000', 'N/A', '$788,000', 'N/A', '$1.35 million', '$2.125 million', 'N/A', '$1.5 million', '$1.5 million', 'N/A', '$2.2 million', '$1,800,000', '$3 million', 'N/A', '$4 million', '$2 million', '$300,000', '$1.8 million', 'N/A', '$5 million', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$700,000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'under $1 million or $1,250,000', 'N/A', '$2 million', 'N/A', 'N/A', '$2.5 million', 'N/A', 'N/A', '$4 million', '$3.6 million', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$3 million', 'N/A', 'N/A', 'N/A', 'N/A', '$4.4–6 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$4 million', 'N/A', 'N/A', 'N/A', '$6.3 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$1.5-5 million', 'N/A', 'N/A', 'N/A', 'N/A', '$8 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'AU$1 million', 'N/A', 'N/A', 'N/A', 'N/A', '$5 million', 'N/A', 'N/A', 'N/A', '$7.5 million', 'N/A', '$10 million', 'N/A', 'N/A', '$3.5 to 4 million', 'N/A', 'N/A', 'N/A', '$5.25 million', '$20 million', 'N/A', '$9 million', 'N/A', '$6-8 million', '$20 million', 'N/A', 'N/A', '$18 million', '$12 million', '$14 million', 'N/A', '', '$5 million', 'unknown', '$20 million', '$11 million', '$28 million', '$44 million', 'N/A', 'N/A', '$14 million', '$9 million', 'N/A', 'A$8.7 million', '$31 million', '$18 million', '$5 million', '$40 million', '$20 million', 'N/A', '$14 million', '60 million Norwegian Kroner (around $8.7 million in 1989)', 'N/A', '$35-40 million', '$25 million', '$15 million', '$40 million', '$14 million', '$28 million', '$12 million', 'N/A', 'N/A', '$6.5 million', '$28 million', '$17 million', '$30 million', 'N/A', '$13 million', 'N/A', 'N/A', '$45 million', '$31 million', 'N/A', '$22 million', '$30 million', 'N/A', '$22 million', ['$32 million', '(estimated)'], '$18 million', '$55 million', '$24 million', '$15 million', '$12 million', 'N/A', '$30 million', 'N/A', '$31 million', 'N/A', '$38 million', '$70 million', '$15 million', 'N/A', '$67 million', 'N/A', '$32 million', '$7 million', '$85 million', '$55 million', '$3 million', '$16 million', '$80 million', '$30 million', '$24 million', '$90 million', '$15 million', 'N/A', '$30 million', '$120 million', '$90 million', '$65 million', '$5 million', 'N/A', '$130 million', '$75–90 million', '$10 million', '$90 million', '$80–$85 million', '$15 million –$30 million', '$4,000,000 (estimated)', '$127.5 million', '$65 million', '$30 million', '$85 million', '$100 million', '$23 million', 'N/A', '$90–120 million', '$26 million', '$25 million', '$115 million', 'N/A', '$33 million', '$20 million', '$5 million', 'N/A', '$22 million', '$80 million', '$35 million', '$15 million', '$65 million', '$140 million', 'N/A', '$20 million', '$12 million', '$46 million', '$13 million', '$20 million', '$17 million', '$94 million', '$140 million', '$26 million', 'N/A', 'N/A', '$46 million', '$90 million', 'N/A', '$10 million', '$28 million', 'N/A', '$15 million', 'N/A', '$110 million', 'N/A', '$110 million', 'N/A', '$45 million', 'N/A', '$92 million', 'N/A', '$100 million', 'N/A', 'N/A', '$20 million', '$56 million', '$25 million', 'N/A', '$50 million', '$35 million', '$35 million', 'N/A', 'N/A', '$25 million', '$150 million', '$180 million', 'N/A', '$30 million', 'N/A', '$1 million', '$40 million', '$50 million', '$80 million', '$120 million', 'N/A', '$225 million', '$30 million', 'N/A', '$12 million', 'N/A', 'N/A', '$17 million', '$150 million', '$300 million', '$150 million', '$25 million', 'N/A', '$22 million', '$85 million', '$130 million', '$7 million', '$25 million', '$225 million', '$180 million', 'N/A', '$50 million', '$20 million', 'N/A', '$11 million', 'N/A', '$150 million', '$80 million', 'N/A', '$50 million', '$30 million', '$47 million', 'N/A', '$175 million', 'N/A', '$150 million', '$30—$35 million', 'N/A', '$8 million ( ₽ 350 million)', '$175–200 million', '$35 million', '$105 million', '$150 –$200 million', '$80 million', '$150–200 million', '$200 million', '$150 million', '$30—$35 million', 'N/A', '$35 million', 'N/A', '$260 million', '$170 million', 'N/A', 'N/A', '$150 million', 'N/A', '$5 million', '$8 million', ['$410.6 million (gross)', '$378.5 million (net)'], '$200 million', '$30 million', 'N/A', '$45 million', 'N/A', ['$306.6 million (gross)', '$263.7 million (net)'], '$5 million', 'N/A', '$185 million', '$25 million', '$30—35 million', 'N/A', '$39 million', '$165 million', '$200 million', 'N/A', '$200 million', '$225–250 million', '$50 million', 'N/A', '$150 million', '$35 million', 'N/A', '$51 million', '$5 million', '$25 million', '$180–263 million', '$50 million', '(US$3.1 million)', '$28 million', '$165 million', '$50 million', '$17 million', 'N/A', '$84.21-95 million', '$5–10 million', '$180–190 million', '$175 million', '', '$175–200 million', '$70–80 million', '$150 million', '$175–177 million', '$170 million', '$175–200 million', '$140 million', '$65 million', '$15 million', '$150–175 million', '(US$9.3 million)', '$8 million', '$160–255 million', '$230–320 million', '$175 million', 'N/A', ['131 crore'], ['~$8 million', '₽', '370 million'], '$175–225 million', '$100–130 million', '$200 million', '$75 million', '$120–133 million', '$175 million', '$130 million', '$170 million', 'N/A', '$183 million', '$200 million', '$250–260 million', '$185 million', '$60 million', 'N/A', '$150 million', '$40 million', '$42 million', '$175–200 million', 'N/A', 'N/A', 'N/A', '$125 million', '$12.5 million (stage production)', 'N/A', '$24 million', 'N/A', '$200 million', 'Unknown', '$26 million', '$150 million+', '₽ 650 million', 'Unknown', '$100 million', '$100 million', 'N/A', '$200 million', '$120–150 million', 'N/A', '₽ 454 237 000', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$53.4 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$11 million', 'N/A', 'N/A', '$80 million', '$130 million', 'N/A', '$1.49 million', '$35-40 million']

In [ ]:
## Checking different forms of strings

print([items.get("Box office", 'N/A') for items in master_data])

['$45.472', '$418 million', '$164 million', '$76.4–$83.3 million (United States and Canada)', '$960,000 (worldwide rentals)', '>$1.3 million (est. United States/Canada rentals, 1941)', '$267.4 million', '$1.135 million (worldwide rentals)', '$799,000', '$3.355 million (worldwide rentals)', '$3.275 million (worldwide rentals)', '$65 million', '$3.165 million (worldwide rentals)', '$2.56 million (worldwide rentals)', '$3.7 million (U.S. rental) $575,000 (foreign rental)', '$1.625 million (worldwide rentals)', '$182 million', '$4,100,000 (worldwide rentals)', ['$2.4 million (1951, domestic)', '$3.5 million (1974, domestic)'], '$2.1 million (US rentals)', '$87.4 million (United States and Canada)', '$1 million (US)', '$2.6 million (US)', 'N/A', '$1.75 million (US and Canadian rentals)', '$28.2 million', '$2,150,000 (US)', '$187 million', '$2.1 million (US)', '$1.6 million (US)', '$1.7 million (US)', 'N/A', 'N/A', '$2.75 million (US)', 'N/A', '$1.75 million (US rentals)', '$6,250,000 (U.S./Canada rentals)', 'N/A', '$1.8 million (est. US/Canada rentals)', '$2.5 million (est. US/ Canada rentals)', '$12.3 million (US and Canada rentals)', ['Original release', ':', '$2.6 million (est. US/ Canada rentals)', '1969 re-release', ':', '$2.3 million  (US/ Canada rentals)'], '$1,700,000 (US/Canada rentals)', '$3,100,000 (US/Canada rentals)', 'N/A', '$3.75 million (US and Canadian rentals)', '$2.3 million (US and Canadian rentals)', 'N/A', '$40 million', '$303 million', '$25.4 million', '$25.1 million', 'N/A', 'N/A', '$4.6 million (U.S./Canada rentals)', '$3.5 million', '$5 million (rentals)', 'N/A', 'N/A', 'N/A', '$21,745,500', '$22.1 million', '$2,550,000 (US/ Canada)', '$3,000,000 (U.S./Canada)', '$4,350,000 (US/ Canada rentals)', '$4.2 million (US/Canada) (rentals)', '$22.2 million (United States and Canada)', 'est. $1,600,000 (US/ Canada)', '$4,000,000 (US/ Canada)', '$2,250,000 (US/ Canada)', 'est. $3,500,000 (US/ Canada)', '$103.1 million', '$3,500,000 (US/ Canada rentals)', '$1,275,000', '$4,000,000 (US/Canada rentals)', '$28,068,222', '$6.2 million (est. US/ Canada rentals)', '$22,565,634', 'N/A', '$16,207,116', '$3,000,000 (US/ Canada)', '$1,900,000 (US/ Canada)', '$4,000,000 (US/ Canada)', '$378 million', 'N/A', '$5 million (U.S./Canada rentals)', '$21,540,050', '$2,250,000 (US/ Canada)', '$4,150,000 (US/ Canada rentals)', '$3.3 million  (US/ Canada rentals)', '$51.3 million', '$1.3 million (US/ Canada rentals)', 'N/A', '$5.5 million (US/ Canada rentals)', 'N/A', '$18,607,492', '$4 million (rentals) (US/Canada)', '$191 million', 'N/A', 'N/A', '$5.1 million (North America) (rentals)', '$17.9 million', 'N/A', '$4,610,000 (US/Canada) (rentals)', 'N/A', 'N/A', '$6,100,000 (US/ Canada rentals)', '$22,583,370', 'N/A', '$2 million', '$32 million', '$7 million (US/Canada rentals)', ['$38,229,000 (US/Canada gross)', '$30.8 million (worldwide rentals)'], '$4 million (rentals) (US/Canada)', 'N/A', '$10 million (US/Canada rentals)', '$6.6 million (US/Canada rentals)', '$20,000,000', '$36,853,000', '$5.5 million (North American rentals)', 'N/A', 'N/A', 'N/A', 'N/A', '$21,873,000', '$10.5 million (US and Canada rentals)', '$36 million', 'N/A', 'N/A', 'N/A', '$169 million', '$29 million', '$36 –39.6 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$20,931,111', 'N/A', ['$35.8 million'], '$2.9 million', '$5 million', '$18 million', '$11 million', '$60 million', '$16 million (USA)', 'N/A', '$14.1 million', '$63.5 million', 'N/A', '$8 million', '', '$7.4 million', '$4,304,286 (US)', '$8.4 million', '$27.6 million', '$11.1 million (USA)', '$21.3 million', '$9.7 million (U.S. and Canada only)', '$13 million', '$38.7 million', '$18,564,613', '$22.3 million', '$13,687,027', '>$121 million', '$222.7 million', '$8,153,677 (United States)', '', '$18.1 million', '$47.4 million', '$34.8 million', '$15.1 million', '$7.3 million', '$46.7 million (USA)', '$440.1 million', '$2.8 million', '$96 million', '$50.8 million', '$504.1 million', '$27.2 million', '$57 million', '$12.9 million', '$24.1 million', '$45.4 million', '$154.9 million', '$53.9 million', '$21 million', '$39 million', '$45.6 million', '$8,878,839 (US)', '$968.5 million', '$50.2 million', '$3,337,685', '$189.8 million', '$43.2 million', '$17.6 million', '$40,070,995', '$11 million', '$37.6 million', '$346.1 million', '$24,670,346', '$13.4 million (domestic)', '$17.7 million', 'N/A', '$373 million', '$23.9 million (US)', '$34.3 million (North America)', '$32.7 million', '$37.7 million', '$325.3 million', '$26,465,920 (USA)', '$22.9 million', '$320.7 million', '$18.3 million', '$59.9 million', 'N/A', '$252.7 million', '$174.4 million', '$27.8 million', '$15.4 million', '$178 million', '$28.9 million', '$4.4 million', '$304.3 million', '$92.1 million', 'N/A', '$12.2 million', '$363.3 million', '$50.6 million (US)', '$36.8 million', '$19.4 million', 'N/A', '$448.2 million', '$134.4 million', '$6.2 million', '$497.4 million', '$90.9 million', '$96.2 million', '$500,000 (USA) (30 November 2000)', '$349.8 million', '$110.3 million', '$136.8 million', '$183.6 million', '$169.6 million', '$44.5 million', 'N/A', '$186.1 million', '$165.3 million', '$18.6 million', '$577.4 million', 'N/A', '$115 million', '$115.1 million', 'N/A', 'N/A', '$80.7 million', '$273.1 million', '$18 million', '$19.3 million', '$172.9 million', '$109.6 million', 'N/A', '$135.7 million', 'N/A', '$62.9 million', '$28.7 million', '$71.4 million', '$55.5 million', '$940.3 million', '$654.3 million', '$160.8 million', 'N/A', 'N/A', '$250.4 million', '$182.3 million', '$9,638,389', '$6.5 million', '$64.5 million', 'N/A', '$105.1 million', 'N/A', '$145.5 million', '$1,108,356', '$72.2 million', '$314,402', '$134.7 million', 'N/A', '$633 million', 'N/A', '$347.5 million', '$9 million', 'N/A', '$52.9 million', '$198.6 million', '$27.6 million', 'N/A', '$144.1 million', '$86.4 million', '$61.7 million', 'N/A', 'N/A', '$15.4 million', '$314.4 million', '$745 million', 'N/A', '$42.9 million', '$35 Million', '$11 million', '$120.5 million', '$87.1 million', '$102.3 million', '$462 million', 'N/A', '$1.066 billion', '$58.5 million', 'N/A', '$110.8 million', 'N/A', 'N/A', '$137.6 million', '$169.3 million', '$960.9 million', '$623.7 million', '$65.3 million', 'N/A', '$146.6 million', '$340.5 million', '$459.2 million', '$70.6 million', '$51.5 million', '$419.7 million', '$521.3 million', 'N/A', '$9.2 million', '$149.3 million', '$275,776', '$252.9 million', '$2 million', '$310 million', '$212.9 million', '$23.1 million', '$106.4 million', '$155.5 million', '$109 million', '$55,513', '$735.1 million', 'N/A', '$292.8 million', '$8,582,265', 'N/A', '$11.3 million', '$325 million', '$96.8 million', '$271 million', '$1.025 billion', '$82.7 million', '$336.4 million', '$1.067 billion', '$215.3 million', '$10,872,752', 'N/A', '$60.3 million', 'N/A', '$592.4 million', '$400.1 million', '$29.6 million', 'N/A', '$39.2 million', 'N/A', '$30.9 million', '$10.7 million', '$1.046 billion', '$559.8 million', '$50.1 million', 'N/A', '$165.2 million', 'N/A', '$284.1 million', '$34.8 million', 'N/A', '$540.4 million', '$56 million', '$67.5 million', '$12.2 million', '$81.5 million', '$471.2 million', '$493.3 million', 'N/A', '$743.6 million', '$260.5 million', '$239.3 million', 'N/A', '$1.280 billion', '$117.9 million', '$64.9 million', '$80.4 million', '$21.3 million', '$40.2 million', '$758.5 million', '$147 million', 'est. (US$11 million)', '$100.6 million', '$657.9 million', '$213.1 million', '$45.7 million', '$31.2 million (non-US box office)', '$542.4 million', '$17.1 million', '$209 million', '$858.8 million', 'est.', '$332.2 million', '$52.1 million', '$1.024 billion', '$966.6 million', '$299.5 million', '$1.029 billion', '$195.2 million', '$143.7 million', '$10.4 million', '$645 million', '(US$270 million)', '$127.4 million', '$1.264 billion', '$794.9 million', '$383.9 million', 'N/A', '83 crore', ['$30.5 million', '₽', '1.731 billion'], '$807.8 million', '$133.4 million', '$1.245 billion', '$197.7 million', '$174 million', '$529.3 million', '$349.5 million', '$353.3 million', '$7.7\n million', '', '$1.073 billion', '$1.663 billion', '$491.7 million', 'N/A', 'N/A', '$1.450 billion', 'N/A', 'N/A', '$141.9 million', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$70 million', 'N/A', 'N/A', '$121 million', ['₽ 2.046 billion', '$28.3 million (Worldwide)', '$28.6 million (Russia/ CIS )'], 'N/A', '$130.2 million', '$233.3 million', '$49.7 million', '$220.9 million', '$207.5 million', 'N/A', '₽ 1 billion', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', '$240 million', 'N/A', 'N/A', '$273.1 million', '$459.2 million', 'N/A', '$418 million', '$46.7 million (USA)']

This code snippet will handle all the edge cases and convert all the dollars to a numerical value

In [ ]:
def dollars_to_float(dollars):
    try:
        if dollars == 'N/A':
            return None
    
        if isinstance(dollars, list):
            
            if 'Original release' in dollars:
                dollars = dollars[2]
                return float(dollars.split(' ')[0].lstrip('$'))*1000000
                
            if 'million' in dollars:
                dollars = dollars[0]
                return float(dollars.split(' ')[0].lstrip('$'))*1000000
                
            else:
                dollars = "".join([i for i in dollars if i.isdigit()])
                return float(dollars)
        else:
            if '>$' in dollars:         # special edge case
                return float(dollars.split(' ')[0].lstrip('>').lstrip('$'))*1000000
            if 'under' in dollars:      # special edge case
                return float(dollars.split(' ')[1].lstrip('$'))*1000000
            if '$76.4–$83.3 million' in dollars:     # special edge case
                return float(76.4)*1000000
            elif 'million' in dollars:
                return float(dollars.split(' ')[0].lstrip('$'))*1000000
            else:
                dollars = "".join([i for i in dollars if i.isdigit()])
                return float(dollars)
    except:
        return '-'
        print("Invalid Type")
        print(dollars)

Appending th eupdated key value pair in the master_data list

In [ ]:
for dictionary in master_data:
    dictionary['Budget (float)'] = dollars_to_float(dictionary.get("Budget", 'N/A'))

In [ ]:
for dictionary in master_data:
    dictionary['Box office (float)'] = dollars_to_float(dictionary.get("Box office", 'N/A'))

In [ ]:
# Check

master_data[1]

{'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Box office': '$418 million',
 'Box office (float)': 418000000.0,
 'Budget': '$1.49 million',
 'Budget (float)': 1490000.0,
 'Country': 'United States',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Distributed by': 'RKO Radio Pictures',
 'Language': 'English',
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Produced by': 'Walt Disney',
 'Production company': 'Walt Disney Productions',
 'Release date': ['December 21, 1937 ( Carthay Circle Theatre )'],
 'Release date (Standard)': datetime.date(1937, 12, 21),
 'Running time': '83 minutes',
 'Running time (int)': 83,
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Title': 'Snow White and the Seven Dwarfs',
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith']}

### Since, datetime object is not seriazable in JSON we can save this data as pickle file

This snippet defines function to save and load a pickle file

*We are just defining the function here and not saving it because we still have to update the data*

In [ ]:
import pickle

def saveas_pickle(filename, data):
    with open(filename, 'wb') as fh:
        pickle.dump(data, fh)
        
        
def load_pickle(filename):
    with open(filename, 'rb') as fh:
        return pickle.load(fh)

# We need to add some more field in the master_data like say Imdb ratings, Metascore which was not avaialable at the wikipedia

### We will use RESTful API (in our case http://www.omdbapi.com) to get those additional data and then finally integrate it to our data

In [ ]:
# Importing necessary libraries to start API calls

import requests
import urllib
import os

url = 'http://www.omdbapi.com/?'

In [ ]:
# Defining some useful functions
# 1. get_omdb_info(title) to get info of each movie from omdb api calls based on title
# 2. get_rottentomato_score(omdb_info) for getting exact score by scrolling in the value list of 'Ratings' key

# Also note that 'API_KEY' environment variable can be set from 'sysdm.cpl'

def get_omdb_info(title):
    parameters = {'apikey':'Enter Your Key Here', 't': title}
    header = urllib.parse.urlencode(parameters)
    full_url = url + header
    return requests.get(full_url).json()

def get_rottentomato_score(omdb_info):
    ratings = omdb_info.get('Ratings', [])
    for rating in ratings:
        if rating['Source'] == 'Rotten Tomatoes':
            return rating['Value']
    return None      # If we have nothing to iterate on inside the 'Ratings' we return None

In [ ]:
# Now updating the values out of omdb_info to the master_data

for index, dictionary in enumerate(master_data):
    if (index)%50 == 0:
      print('Getting', index+1, 'out of', len(master_data))
    title = dictionary['Title']
    omdb_info = get_omdb_info(title)
    dictionary['Genre'] = omdb_info.get('Genre', None)
    dictionary['Movie Plot'] = omdb_info.get('Plot', None)
    dictionary['Awards'] = omdb_info.get('Awards', None)
    dictionary['Imdb Rating'] = omdb_info.get('imdbRating', None)
    dictionary['Metascore'] = omdb_info.get('Metascore', None)
    dictionary['Rotten Tomatoes Score'] = get_rottentomato_score(omdb_info)

Getting 1 out of 491
Getting 51 out of 491
Getting 101 out of 491
Getting 151 out of 491
Getting 201 out of 491
Getting 251 out of 491
Getting 301 out of 491
Getting 351 out of 491
Getting 401 out of 491
Getting 451 out of 491

In [ ]:
# Checking that new entries extracted through omdb API call is added to the entry

master_data[-21]

# Notice
# 'Genre': 'Animation, Adventure, Comedy',
#  'Movie Plot': 'The romantic tale of a sheltered uptown Cocker Spaniel dog and a streetwise downtown Mutt.',
#  'Awards': 'Nominated for 1 BAFTA Film Award1 win & 2 nominations total',
#  'Imdb Rating': '7.3',
#  'Metascore': '78',
#  'Rotten Tomatoes Score': '93%'

{'Awards': 'N/A',
 'Box office (float)': None,
 'Budget (float)': None,
 'Cinematography': ['Mahyar Abousaeedi', 'Jonathan Pytko'],
 'Country': 'United States',
 'Directed by': 'Domee Shi',
 'Distributed by': ['Walt Disney Studios', 'Motion Pictures'],
 'Edited by': ['Nicholas C. Smith', 'Steve Bloom'],
 'Genre': 'Animation, Adventure, Comedy',
 'Imdb Rating': 'N/A',
 'Language': 'English',
 'Metascore': 'N/A',
 'Movie Plot': 'A 13-year-old girl named Mei Lee turns into a giant red panda whenever she gets too excited.',
 'Music by': 'Ludwig Göransson',
 'Produced by': 'Lindsey Collins',
 'Production companies': ['Walt Disney Pictures', 'Pixar Animation Studios'],
 'Release date': ['March 11, 2022 (United States)'],
 'Release date (Standard)': datetime.date(2022, 3, 11),
 'Rotten Tomatoes Score': None,
 'Running time (int)': None,
 'Screenplay by': ['Julia Cho', 'Domee Shi'],
 'Starring': ['Rosalie Chiang',
  'Sandra Oh',
  'Ava Morse',
  'Maitreyi Ramakrishnan',
  'Hyein Park',
  'Orion Lee',
  'Wai Ching Ho',
  'James Hong'],
 'Title': 'Turning Red'}

## Saving as pickle file

In [ ]:
# Now saving the data as a new pickle file

saveas_pickle('cleaned_and_added_data_from_omdb.pickle', master_data)

# Check the local folder for the pickle file

In [ ]:
# Check

master_data[-2]

{'Awards': 'Won 1 Oscar. 11 wins & 6 nominations total',
 'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Box office': '$418 million',
 'Box office (float)': 418000000.0,
 'Budget': '$1.49 million',
 'Budget (float)': 1490000.0,
 'Country': 'United States',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Distributed by': 'RKO Radio Pictures',
 'Genre': 'Animation, Adventure, Family',
 'Imdb Rating': '7.6',
 'Language': 'English',
 'Metascore': '95',
 'Movie Plot': 'Exiled into the dangerous forest by her wicked stepmother, a princess is rescued by seven dwarf miners who make her part of their household.',
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Produced by': 'Walt Disney',
 'Production company': 'Walt Disney Productions',
 'Release date': ['December 21, 1937 ( Carthay Circle Theatre )'],
 'Release date (Standard)': datetime.date(1937, 12, 21),
 'Rotten Tomatoes Score': None,
 'Running time': '83 minutes',
 'Running time (int)': 83,
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Title': 'Snow White and the Seven Dwarfs',
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith']}

# Now we are going to save the data in JSON as well as CSV format

## Saving as JSON

#### The challenge with JSON is: datetime object is not seriazable in JSON
#### So we need to convert the datetime object back to string to save it as JSON 

#### But first of all we need to make a copy of previous data using .copy() method

In [ ]:
master_data_copy = [movie_info.copy() for movie_info in master_data]

In [ ]:
master_data_copy[-2]

{'Awards': 'Won 1 Oscar. 11 wins & 6 nominations total',
 'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Box office': '$418 million',
 'Box office (float)': 418000000.0,
 'Budget': '$1.49 million',
 'Budget (float)': 1490000.0,
 'Country': 'United States',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Distributed by': 'RKO Radio Pictures',
 'Genre': 'Animation, Adventure, Family',
 'Imdb Rating': '7.6',
 'Language': 'English',
 'Metascore': '95',
 'Movie Plot': 'Exiled into the dangerous forest by her wicked stepmother, a princess is rescued by seven dwarf miners who make her part of their household.',
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Produced by': 'Walt Disney',
 'Production company': 'Walt Disney Productions',
 'Release date': ['December 21, 1937 ( Carthay Circle Theatre )'],
 'Release date (Standard)': datetime.date(1937, 12, 21),
 'Rotten Tomatoes Score': None,
 'Running time': '83 minutes',
 'Running time (int)': 83,
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Title': 'Snow White and the Seven Dwarfs',
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith']}

This snippet will replace all the datetime object in the copy set to the string date

In [ ]:
for items in master_data_copy:
    datetime_object = items['Release date (Standard)']
    if datetime_object:                                               # Checking if it exists
        items['Release date (Standard)'] = datetime_object.strftime('%B %d, %Y')
    else:
        items['Release date (Standard)'] = None

In [ ]:
# Checking that the string is changed in copy

master_data_copy[-2]

{'Awards': 'Won 1 Oscar. 11 wins & 6 nominations total',
 'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Box office': '$418 million',
 'Box office (float)': 418000000.0,
 'Budget': '$1.49 million',
 'Budget (float)': 1490000.0,
 'Country': 'United States',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Distributed by': 'RKO Radio Pictures',
 'Genre': 'Animation, Adventure, Family',
 'Imdb Rating': '7.6',
 'Language': 'English',
 'Metascore': '95',
 'Movie Plot': 'Exiled into the dangerous forest by her wicked stepmother, a princess is rescued by seven dwarf miners who make her part of their household.',
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Produced by': 'Walt Disney',
 'Production company': 'Walt Disney Productions',
 'Release date': ['December 21, 1937 ( Carthay Circle Theatre )'],
 'Release date (Standard)': 'December 21, 1937',
 'Rotten Tomatoes Score': None,
 'Running time': '83 minutes',
 'Running time (int)': 83,
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Title': 'Snow White and the Seven Dwarfs',
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith']}

In [ ]:
# Now saving as JSON
# Maybe we need to go above and make a call at the saveas_json() function again

saveas_json('cleaned_and_added_data_from_omdb.json', master_data_copy)

## Saving as CSV

#### We will use pandas to save as csv

In [ ]:
import pandas as pd

df = pd.DataFrame(master_data)       # We can pass list of dict as arguement directly to make a df object

In [ ]:
df.head()

                             Title       Production company  ... Original work Owner
0         Academy Award Review of   Walt Disney Productions  ...           NaN   NaN
1  Snow White and the Seven Dwarfs  Walt Disney Productions  ...           NaN   NaN
2                        Pinocchio  Walt Disney Productions  ...           NaN   NaN
3                         Fantasia  Walt Disney Productions  ...           NaN   NaN
4             The Reluctant Dragon  Walt Disney Productions  ...           NaN   NaN

[5 rows x 38 columns]

In [ ]:
df.to_csv('cleaned_data_final.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Title                    491 non-null    object
 1   Production company       197 non-null    object
 2   Distributed by           489 non-null    object
 3   Release date             485 non-null    object
 4   Running time             473 non-null    object
 5   Country                  437 non-null    object
 6   Language                 472 non-null    object
 7   Box office               382 non-null    object
 8   Release date (Standard)  485 non-null    object
 9   Running time (int)       473 non-null    float64
 10  Budget (float)           300 non-null    object
 11  Box office (float)       382 non-null    object
 12  Genre                    473 non-null    object
 13  Movie Plot               473 non-null    object
 14  Awards                   473 non-null    object
 15  Imdb Rating              473 non-null    object
 16  Metascore                473 non-null    object
 17  Rotten Tomatoes Score    350 non-null    object
 18  Directed by              484 non-null    object
 19  Written by               222 non-null    object
 20  Based on                 260 non-null    object
 21  Produced by              481 non-null    object
 22  Starring                 457 non-null    object
 23  Music by                 481 non-null    object
 24  Budget                   300 non-null    object
 25  Story by                 157 non-null    object
 26  Narrated by              65 non-null     object
 27  Cinematography           369 non-null    object
 28  Edited by                435 non-null    object
 29  Languages                18 non-null     object
 30  Screenplay by            233 non-null    object
 31  Countries                49 non-null     object
 32  Production companies     293 non-null    object
 33  Color process            4 non-null      object
 34  Layouts by               1 non-null      object
 35  Created by               1 non-null      object
 36  Original work            1 non-null      object
 37  Owner                    1 non-null      object
dtypes: float64(1), object(37)
memory usage: 145.9+ KB

In [ ]:
# Sorting values on the basis of 'Running Time (int)'

running_time = df.sort_values(['Running time (int)'], ascending=False)
running_time.head(10)

                                                 Title  ... Owner
322          Pirates of the Caribbean:  At World's End  ...   NaN
85                            The Happiest Millionaire  ...   NaN
428                                       Jagga Jasoos  ...   NaN
422                                             Dangal  ...   NaN
453                                           Hamilton  ...   NaN
411                                             ABCD 2  ...   NaN
314        Pirates of the Caribbean:  Dead Man's Chest  ...   NaN
331           The Chronicles of Narnia: Prince Caspian  ...   NaN
390                                    The Lone Ranger  ...   NaN
304  The Chronicles of Narnia:The Lion, the Witch a...  ...   NaN

[10 rows x 38 columns]

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

***************************************

**So, Finally we have a huge data set of all the movies from Disney and it's necesarry information.**

We are ready to go forward and analyze/visualize the data on our parameters

****************************************